.invablog__wrapper {
    padding-top: 100px;
    padding-bottom: 80px;

    @include l-tablet {
        padding-top: 80px;
    }

    @include sm-tablet {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.invablog__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.invablog__card {
    width: calc(50% - 35px);
    border: 1px solid rgba(181, 181, 181, 0.50);
    margin-bottom: 70px;

    @include l-tablet {
        width: calc(50% - 10px);
        margin-bottom: 35px;
    }

    @include sm-tablet {
        width: 100%;
        margin-bottom: 20px;
    }

    .card__image {
        width: 100%;
        aspect-ratio: 443/248;
        height: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
            width: auto;
        }
    }

    .card__info {
        padding: 25px 32px;

        @include mobile {
            padding: 20px 25px;
        }
    }

    .card__meta {
        margin-bottom: 12px;
        font-family: $font-family-ubuntu;
        font-size: 12px;
        line-height: normal;
        position: relative;
    }

    .card__author {
        margin-bottom: 3px;
    }

    .card__title {
        font-size: 22px;
        font-weight: 700;
        line-height: 140%;
        margin-bottom: 12px;

        @include sm-tablet {
            font-size: 20px;
        }
    }

    .card__text {
        font-size: 18px;
        line-height: 150%;

        @include sm-tablet {
            font-size: 16px;
        }
    }

    .card__share {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 50%;
    }
}

.invablog__pagination {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    picture {
        width: 42px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pagination__first,
    .pagination__prev {
        img {
            transform: rotate(180deg);
        }
    }

    .pagination__links {
        display: flex;
        align-items: center;
    }

    .pagination__link {
        width: 42px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        line-height: normal;
        font-family: $font-family-ubuntu;
    }

    .pagination__link-selected {
        color: $accent-color;
    }
}