.text-tags {
    margin-bottom: 100px;

    @include l-tablet {
        margin-bottom: 80px;
    }

    @include sm-tablet {
        margin-bottom: 60px;
    }

    .text__title {
        margin-bottom: 25px;

        @include sm-tablet {
            margin-bottom: 15px;
        }
    }

    .text__info {
        max-width: 970px;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 40px;

        @include sm-tablet {
            margin-bottom: 25px;
        }
    }

    .text__items {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .text__item {
        font-size: 18px;
        line-height: 140%;
        padding: 18px 40px;
        border: 1px solid #222;
        margin-right: 20px;
        margin-bottom: 20px;

        @include sm-tablet {
            padding: 10px 15px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}