.stack-icons {
    .stack__wrapper {
        padding-top: 100px;
        padding-bottom: 100px;

        @include l-tablet {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        @include sm-tablet {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    .stack__title {
        margin-bottom: 40px;

        @include l-tablet {
            margin-bottom: 25px;
        }
    }

    .stack__cards {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .stack__card {
        width: calc(100% / 4);
        border: 1px solid #222;
        border-left: 0;
        padding: 40px;

        @include l-tablet {
            width: calc(50%);
            border: .5px solid #222;
        }

        @include sm-tablet {
            padding: 25px;
        }

        @include mobile {
            width: 100%;
        }

        &:first-of-type {
            border-left: 1px solid #222;
        }

        .card__image {
            width: 50%;
            height: 50px;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                height: 100%;
                width: auto;
            }

            @include sm-tablet {
                height: 30px;
                margin-bottom: 15px;
            }
        }

        .card__title {
            font-size: 24px;
            color: $accent-color;
            font-weight: 700;
            line-height: 140%;
            margin-bottom: 25px;

            @include sm-tablet {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }

        .card__item {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            font-size: 16px;

            @include sm-tablet {
                margin-bottom: 10px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .card__item-image {
            width: 30px;
            height: 30px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100%;
                width: auto;
            }
        }
    }
}