.text-image-dark {
    .text__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .text__col {
        max-width: 580px;
    }

    .text__title {
        line-height: 140%;
    }

    .text__info {
        margin-top: 25px;

        p {
            margin-bottom: 15px;
        }

        ul {
            margin-left: 30px;

            li {
                margin-bottom: 10px;
            }
        }
    }

    .text__image {
        width: 360px;
        height: 420px;

        picture {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100%;
                width: auto;
            }
        }
    }
}