.customers-think {
    margin-top: 100px;
    margin-bottom: 80px;

    @include l-tablet {
        margin-top: 80px;
    }

    @include sm-tablet {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .think__title {
        margin-bottom: 25px;
    }

    .think__reviews {
        width: 100%;
        height: 380px;
        background: none;
        overflow: hidden;

        iframe {
            border: none;
        }

        @include sm-tablet {
            height: 440px;
        }
    }
}