$base-font-size: 10px;
$base-line-height: 1.15;
$font-family-ubuntu: 'Ubuntu', sans-serif;
$font-family-sans: 'Source Sans 3', sans-serif;
$accent-color: #EFD91B;
$light-main-color: #fff;
$light-side-color: #FBFBFD;
$dark-main-color: #222222;
$dark-side-color: #3E3E3E;
$lighter-text-color: #949494;

@mixin mobile {
   @media (max-width: 575px) {
      @content;
   }
}

@mixin sm-tablet {
   @media (max-width: 767px) {
      @content;
   }
}

@mixin l-tablet {
   @media (max-width: 1139px) {
      @content;
   }
}

@mixin desktop {
   @media (max-width: 1479px) {
      @content;
   }
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: $base-font-size;
   line-height: $base-line-height;
   scroll-behavior: smooth;

   @include l-tablet {
      font-size: 8px;
   }

   @include sm-tablet {
      font-size: 6px;
   }
}

::-webkit-scrollbar {
   display: none;
}

::-webkit-scrollbar-thumb {
   display: none;
}

body {
   font-size: 1.6rem;
   font-family: 'Source Sans 3', sans-serif;
   line-height: 1.5;
   font-weight: 400;
   overflow-x: hidden;
   overflow-y: scroll;
   color: $dark-main-color;
   background: #FCFCFD;
}

.container {
   width: 100%;
   padding: 0 20px;
   margin: 0 auto;
   position: relative;
}

@media (min-width: 576px) {
   .container {
      max-width: 500px;
   }
}

@media (min-width: 768px) {
   .container {
      max-width: 760px;
   }
}

@media (min-width: 1140px) {
   .container {
      max-width: 1100px;
   }
}

@media (min-width: 1480px) {
   .container {
      max-width: 1440px;
   }
}

a {
   text-decoration: none;
   color: unset;
}

.g-wrap {
   min-width: 400px;
   margin: 0 auto;
}

.outer-bg {
   display: flex;
   flex-direction: column;
   max-width: 1920px;
   margin: 0 auto;
   overflow: hidden;
}

// .header-scroll {
//    .header__desktop {
//       margin-top: -81px;
//    }

//    .header__col-big-menu {
//       top: calc((100vh - (100vh - 100%)) * (-1));
//    }

//    main {
//       padding-top: 120px;
//    }
// }

.stop-scroll {
   overflow: hidden !important;

   ::-webkit-scrollbar {
      width: 0;
   }
}

.show {
   opacity: 1 !important;
   visibility: visible !important;
   display: block !important;
}

.overflow-hidden {
   overflow: hidden
}

.mb-0 {
   margin-bottom: 0 !important;
}

.mb-2 {
   margin-bottom: 20px;
}

.mt-1 {
   margin-top: 10px !important;
}

.mt-2 {
   margin-top: 20px !important;
}

.mt-0 {
   margin-top: 0 !important;
}

.pt-0 {
   padding-top: 0 !important;
}

.z-i-1 {
   position: relative;
   z-index: 1 !important;
}

.z-i-2 {
   position: relative;
   z-index: 2 !important;
}

.z-i-3 {
   position: relative;
   z-index: 3 !important;
}


.h1 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 5.6rem;
   font-weight: 700;
}

.h2 {
   font-family: 'Ubuntu', sans-serif;
   font-weight: 700;
   font-size: 4rem;
}

.h3 {
   font-family: 'Ubuntu', sans-serif;
   font-weight: 700;
   font-size: 30px;
}

.h4 {
   font-size: 24px;
   font-weight: 700;
   line-height: 140%;
}

.main-btn {
   padding: 10px 70px;
   background: $accent-color;
   font-size: 20px;
   line-height: 200%;
   color: $dark-main-color;
   width: fit-content;
}

.main-tr-btn {
   padding: 10px 70px;
   font-size: 20px;
   line-height: 200%;
   color: $dark-main-color;
   border: 1px solid $dark-main-color;
   width: fit-content;
}

.main-cta {
   font-size: 19px;
   line-height: 200%;
   padding-right: 40px;
   position: relative;
   width: fit-content;
   white-space: nowrap;

   &::after {
      position: absolute;
      content: '';
      background-image: url('../img/arrow-right-icon.svg');
      width: 20px;
      height: 10px;
      top: 50%;
      right: 0;
      transform: translateY(-50%)
   }
}

.main-arr-btn {
   font-size: 18px;
   padding: 14px 30px;
   padding-right: 64px;
   background: $accent-color;
   width: fit-content;
   color: $dark-main-color;
   position: relative;

   &::after {
      position: absolute;
      content: '';
      background-image: url('../img/arrow-right-icon.svg');
      width: 20px;
      height: 10px;
      top: 50%;
      right: 30px;
      transform: translateY(-50%)
   }
}

.main-arr-tr-btn {
   font-size: 18px;
   padding: 14px 30px;
   padding-right: 64px;
   width: fit-content;
   color: $dark-main-color;
   border: 1px solid $dark-main-color;
   position: relative;

   &::after {
      position: absolute;
      content: '';
      background-image: url('../img/arrow-right-icon.svg');
      width: 20px;
      height: 10px;
      top: 50%;
      right: 30px;
      transform: translateY(-50%)
   }
}

@import "chunk/**/*.scss";