.customers-list {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #FBFBFD;

    @include l-tablet {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .slider__item {
        width: 220px;
        height: 127px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @include l-tablet {
            width: 150px;
            height: 90px;
        }

        @include mobile {
            width: 100px;
            height: 60px;
        }

        img {
            width: auto;
            height: 100%;
            margin-right: 50px;
            margin-left: 20px;

            @include l-tablet {}
        }
    }
}