.inner-numbers {
    &:before {
        content: 'Quick facts';
        bottom: -40px;
        left: 0;
    }

    .numbers__wrapper {
        padding-top: 100px;
        padding-bottom: 100px;

        .wrapper {
            padding-top: 0;
            padding-bottom: 0;
        }

        .title-wrap {
            margin-bottom: 60px;

            @include l-tablet {
                margin-bottom: 40px;
            }

            @include sm-tablet {
                margin-bottom: 25px;
            }

            .numbers__title {
                @include l-tablet {
                    margin-bottom: 25px;
                }

                @include sm-tablet {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .numbers__items {
        display: flex;
        justify-content: space-between;

        @include sm-tablet {
            flex-direction: column;
        }
    }

    .numbers__item {
        width: calc(100% / 3);
        text-align: center;

        @include sm-tablet {
            width: 100%;
            text-align: left;
            display: flex;
            align-items: center;
        }
    }

    .numbers__item-num {
        font-size: 9rem;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -4.5px;
        font-family: $font-family-ubuntu;
        color: $accent-color;

        @include sm-tablet {
            width: 150px;
        }
    }

    .numbers__item-text {
        font-size: 2.4rem;
        font-family: $font-family-ubuntu;
        line-height: normal;
        letter-spacing: 0.24px;

        @include sm-tablet {
            font-size: 3rem;
        }
    }
}