.texts-divider {
    .texts__subtitle {
        margin-top: 20px;
        color: #949494;
        font-size: 18px;
        line-height: 140%;
        max-width: 830px;

        @include l-tablet {
            margin-top: 15px;
        }

        @include sm-tablet {
            font-size: 16px;
        }
    }

    .texts__items {
        display: flex;
        justify-content: space-between;

        @include l-tablet {
            flex-direction: column;
        }
    }

    .texts__item {
        width: calc(100% / 3);
        padding-left: 20px;
        border-left: 1px solid #fff;

        @include l-tablet {
            width: 100%;
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .item__text {
        margin-top: 14px;
        max-width: 300px;
        color: #949494;
        font-size: 17px;
        line-height: 140%;

        @include l-tablet {
            max-width: unset;
        }

        @include sm-tablet {
            font-size: 16px;
        }
    }
}