.customers-list {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #FBFBFD;

    .slider__item {
        width: 227px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include l-tablet {
            width: 150px;
        }

        picture {
            width: 127px;
            height: 127px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include l-tablet {
                width: 80px;
                height: 80px;
            }

            img {
                width: 100%;
                height: auto;
                margin-left: 50px;

                @include l-tablet {}
            }
        }
    }
}