.customers-reviews__wrapper {
    padding-top: 140px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;

    @include l-tablet {
        padding-top: 50px;
        flex-direction: column;
    }

    @include sm-tablet {
        padding-bottom: 60px;
        padding-top: 60px;
    }
}

.customers-reviews__col-clutch {
    max-width: 520px;

    @include desktop {
        max-width: 400px;
    }

    @include l-tablet {
        max-width: 100%;
    }
}

.customers-reviews__clutch {
    iframe {
        border: none;
        height: 80px;
    }
}

.customers-reviews__title {
    margin-bottom: 60px;

    @include l-tablet {
        margin-bottom: 40px;
    }

    @include sm-tablet {
        margin-bottom: 30px;
    }
}

.customers-reviews__col-slider {
    max-width: 560px;

    @include l-tablet {
        margin-left: auto;
        margin-right: auto;
    }

    @include sm-tablet {
        max-width: unset;
        width: 100%;
    }
}

.customers-reviews__slider {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        background-image: url('../img/review-quotes.png');
        width: 144px;
        height: 128px;
        top: -30px;
        left: -40px;
    }

    .slider__dots {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;

        li {
            list-style: none;
            position: relative;
            width: 8px;
            margin-right: 12px;

            &:last-of-type {
                margin-right: 0;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #DBDBDB;
            }
        }

        li.slick-active {
            &::before {
                background: $dark-main-color;
            }
        }

        button {
            display: none;
        }
    }

    .item__text {
        font-size: 19px;
        line-height: 130%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .item__author {
        display: flex;
        align-items: center;
        margin-bottom: 60px;

        .item__author-image {
            min-width: 80px;
            max-width: 80px;
            min-height: 80px;
            max-height: 80px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 25px;

            picture {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .item__author-name {
            .name {
                font-family: 'Ubuntu', sans-serif;
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 0.22px;
                margin-bottom: 9px;
            }

            .position {
                color: #757575;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0.18px;
            }
        }
    }
}