// transition: all .25s ease-in-out;
.header {
    // background: #fff;
    max-width: 1920px;
    height: 90px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    // border-bottom: 1px solid #D9D9D9;
}

.header__desktop {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__col:has(.header__nav) {
    height: fit-content;
}

.header__nav {
    display: flex;
    align-items: center;
    padding-left: 0;
    font-family: 'Ubuntu';
    font-size: 1.8rem;

    li {
        list-style: none;
        margin-left: 30px;
    }
}

.header__btn {
    background: $accent-color;
    padding: 12px 40px;
    border-radius: 8px;
}