.main-services {
    .services__cards {
        display: flex;
        justify-content: space-between;
    }

    .cards__item {
        max-width: 230px;
    }

    .card__title {
        margin-bottom: 15px;
    }

    .card__text {
        font-size: 17px;
        color: $lighter-text-color;
        line-height: 140%;
    }
}