.why-choose {
    background: $light-side-color;
    position: relative;
    overflow: hidden;

    &:before {
        content: 'Quick facts';
        left: 0;
        bottom: -40px;
    }

    &:after {
        content: '';
        position: absolute;
        background-image: url('../../img/main__bg-choose.png');
        width: 15%;
        height: 100%;
        background-size: cover;
        background-position: right;
        right: 0;
        top: 0;

        @include desktop {
            content: unset;
        }
    }

    .choose__wrapper {
        padding-top: 130px;
        padding-bottom: 130px;
        display: flex;
        justify-content: space-between;

        @include l-tablet {
            padding-top: 80px;
            padding-bottom: 80px;
            flex-direction: column;
        }

        @include sm-tablet {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    .choose__col-text {
        max-width: 620px;
        font-size: 18px;

        p {
            margin-bottom: 15px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .choose__title {
        margin-bottom: 25px;
    }

    .choose__col-numbers {
        display: flex;
        flex-direction: column;
        margin-right: 230px;

        @include desktop {
            margin-right: 0;
        }

        @include l-tablet {
            margin-top: 40px;
            flex-direction: row;
            justify-content: space-between;
        }

        @include sm-tablet {
            flex-direction: column;
        }

        .numbers__item {
            margin-bottom: 40px;

            @include l-tablet {
                margin-bottom: 0;
            }

            @include sm-tablet {
                padding-left: 30px;
                padding-right: 30px;
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #c3c3c3;

                &:last-of-type {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }

        .numbers__item-num {
            font-size: 10rem;
            color: $accent-color;
            font-weight: 700;
            line-height: 100%;

            @include sm-tablet {
                margin-right: 30px;
                font-size: 12rem;
                width: 40%;
            }
        }

        .numbers__item-text {
            font-size: 24px;
            letter-spacing: 0.24px;

            @include l-tablet {
                font-size: 20px;
            }

            @include sm-tablet {
                font-size: 24px;
            }
        }
    }
}