.why-choose {
    background: $light-side-color;
    position: relative;
    overflow: hidden;

    &:before {
        content: 'Quick facts';
        position: absolute;
        text-transform: uppercase;
        left: 0;
        bottom: -40px;
        font-size: 170px;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
        opacity: .04;
    }

    &:after {
        content: '';
        position: absolute;
        background-image: url('../../img/main__bg-choose.png');
        width: 15%;
        height: 100%;
        background-size: cover;
        background-position: right;
        right: 0;
        top: 0;

        @include desktop {
            content: unset;
        }
    }

    .choose__wrapper {
        padding-top: 130px;
        padding-bottom: 130px;
        display: flex;
        justify-content: space-between;
    }

    .choose__col-text {
        max-width: 620px;
        font-size: 18px;

        p {
            margin-bottom: 15px;
        }
    }

    .choose__title {
        margin-bottom: 25px;
    }

    .choose__col-numbers {
        display: flex;
        flex-direction: column;
        margin-right: 230px;

        @include desktop {
            margin-right: 0;
        }

        .numbers__item {
            margin-bottom: 40px;
        }

        .numbers__item-num {
            font-size: 10rem;
            color: $accent-color;
            font-weight: 700;
            line-height: 100%;
        }

        .numbers__item-text {
            font-size: 24px;
            letter-spacing: 0.24px;
        }
    }
}