extends layout/app

block page
   div(class="g-wrap")
      div(class="outer-bg inner-page")
         include chunk/header
         main(class="g-main")
            div(class="inner-banner banner case-studies-banner")
               div(class="banner__bg")
                  img(src="img/case-studies-page-bg.png", alt="Case Studies")
               div(class="banner__wrapper container")
                  div(class="banner__title") Cryptocurrency E-wallet Application
                  div(class="banner__subtitle") Modern and convenient cryptocurrency investment app for storing and maintaining crypto assets.
                  div(class="banner__tags")
                     a(class="banner__tag") Application
                     a(class="banner__tag") Cryptocurrency
                     a(class="banner__tag") JavaScript
                     a(class="banner__tag") NodeJS
            div(class="page-content-text content")
               div(class="content__wrapper container")
                  div(class="h3") Challenge
                  p Our client's fundamental goal was to build a cryptocurrency application for mobile devices where cryptocurrency assets can be purchased and stored securely. To give users a secure and flexible way to manage their cryptocurrency assets via features such as 2FA security, Face ID, Touch ID, and special and encryption unique word set.
                  p With experience in creating fintech solutions, our specialists decided to create a cross-platform cryptocurrency mobile app. Moreover, we had to integrate the app with several blockchain networks, create a user-friendly interface and implement robust security measures to protect users' assets.
                  p To create an app that would assist users in investing in cryptocurrency, the Invatechs team took the following steps:
                  ul
                     li Create a cross-platform wallet for iOS and Android devices;
                     li Integrate payment systems for buying cryptocurrencies inside the app;
                     li Provide the app with features that will ensure the safety of user data;
                     li Add graphs, charts, and various token networks.
                  img(src="img/c-s-img-1.png", alt="Case Studies")
                  div(class="h3") Solution
                  p To create this crypto app, our experts decided to develop a cross-platform application connected to a single blockchain network. In addition, we created a solution that gives users full control over their private keys to guarantee the security and integrity of their crypto assets.
                  p Also, our client wanted to add features that could offer users multiple cryptocurrency investment strategies at once and provide personalized information on market trends and price movements. A few basic strategies are presented in the mobile crypto app itself:
                  ul
                     li One-time investment: just invest any amount once, whenever you want
                     li Regular deposit: set the amount of money you want to invest in cryptocurrency every week or month, and it will be withdrawn automatically.
                     li Rounding: the app tracks the user's transactions and rounds up their daily purchases to the nearest $1, $2, or $5, accumulates the difference to a certain amount of money, and then automatically invests it in cryptocurrency.
                  p Our Invatechs team designed the wallet from the ground up, focusing on usability and security. We added a cryptocurrency exchange feature so users can freely buy and sell cryptocurrencies in their wallets. We used the latest encryption and security methods to protect users' cryptocurrency assets, including two-factor authentication and multi-level identity verification.
                  div(class="title-tags")
                     div(class="h3") Technologies & tools
                     div(class="tags")
                        div(class="tag") Backend: NodeJS
                        div(class="tag") CI/CD: Codefresh
                        div(class="tag") Cloud: AWS
                        div(class="tag") Databases: MongoDB
                        div(class="tag") Frontend: ReactJS
                  img(src="img/c-s-img-2.png", alt="Case Studies")
                  div(class="h3") Process
                  p Invatechs started working on a cryptocurrency wallet project in late 2020. We offered the client to use Agile methodology and provided regular progress reports using project management tools such as Jira. Before starting the implementation, our experts thoroughly studied the market of similar applications to create the most innovative and user-friendly product for mass use.
                  p We used Slack as the main means of communication to stay in touch with the client and share ideas. Our team had several brainstorming sessions with the customer to incorporate feedback and suggestions.
                  p After four productive months, we provided our client with an MVP for their approval. We immediately set about building a full-scale application architecture that would allow even more features to be added in the future. Over the next eight months, we worked on implementing additional features such as real-time price updates, secure wallet management, and two-factor authentication.
                  p After all stages of development and testing, our team released this cryptocurrency investment app to app stores, where it managed to be even in the top 20 apps in the category related to web 3.0.
                  div(class="title-tags")
                     div(class="h3") Project duration
                     div(class="tags")
                        div(class="tag") 2020 - in progress
                  div(class="content__btns")
                     div(class="content__btn btn-prev main-tr-btn")
                        a(href="") Previous
                     div(class="content__btn btn-next main-tr-btn")
                        a(href="") Next
            include chunk/footer