extends layout/app

block page
   div(class="g-wrap")
      div(class="outer-bg inner-page")
         include chunk/header
         main(class="g-main")
            div(class="contact-us contact")
               div(class="contact__wrapper container")
                  div(class="contact__col contact__col-text")
                     div(class="contact__title") Contact Us
                     div(class="contact__subtitle") Please get in touch and our expert support team will answer all your questions
                     p Prefer email?<br>You can also reach us at:
                     a(href="") info@invatechs.com
                     p Or give us a call:
                     a(href="") +44 204 577 2137 (UK)
                  div(class="contact__col contact__col-form")
                     div(class="contact__form form")
                        div(class="form__item form__item-50")
                           input(pattern="^*+$", type="text", name="", placeholder="Name*", required)
                        div(class="form__item form__item-50")
                           input(pattern="^*+$", type="text", name="", placeholder="Company*", required)
                        div(class="form__item form__item-50")
                           input(pattern="^*+$", type="email", name="", placeholder="Work email*", required)
                        div(class="form__item form__item-50")
                           input(pattern="^*+$", type="tel", name="", placeholder="Phone*", required)
                        div(class="form__item form__item-100")
                           textarea(name="^*+$", placeholder="What can we help you with?*", required)
                        div(class="form__row")
                           div(class="form__btn main-btn")
                              button(type="submit") Get in touch
                           div(class="form__text") By sending a message you agree with your information being stored by us in relation to dealing with your enquiry. Please have a look at our Privacy Policy.

            include chunk/footer