extends layout/app

block page
   div(class="g-wrap")
      div(class="outer-bg")
         include chunk/header
         main(class="g-main")
            include chunk/main/main-hero
            include chunk/main/main-services
            include chunk/main/main-choose
            div(class="experts-industries")
               div(class="experts-industries__title container h2") We are experts in such industries as
            include chunk/block/block-industries-slider
            include chunk/block/block-technologies-slider
            include chunk/main/main-cases
            include chunk/block/block-customers-reviews
            include chunk/block/block-customers-slider
            include chunk/main/main-contact
            include chunk/footer