extends layout/app

block page
   div(class="g-wrap")
      div(class="outer-bg inner-page")
         include chunk/header
         main(class="g-main")
            div(class="inner-banner banner banner-cr-width")
               div(class="banner__wrapper container")
                  div(class="banner__title") Privacy Policy
            div(class="privacy-policy policy")
               div(class="policy__wrapper container")
                  p Invatechs Ltd. owns the Invatechs online publication (invatechs.com). This Privacy Policy governs the manner in which Invatechs Ltd. collects, uses, maintains and discloses information collected from users of the www.invatechs.com website (“Site”).
                  p Invatechs Ltd. is GDPR compliant. Please read this privacy policy carefully.
                  div(class="h4") Personal identification information
                  p We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, subscribe to the newsletter, fill out comments, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, and email address. Users may, however, visit our Site without providing an email.
                  div(class="h4") Non-personal identification information
                  p We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
                  div(class="h4") How we protect your information
                  p We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your data stored on our Site.
                  div(class="h4") Sharing your personal information
                  p We do not sell, trade, or rent Users personal identification information to others. We may share generic <b>aggregated</b> demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers. We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes.
                  p <b>Email List</b>: When you sign up for our newsletters/alerts, you only provide an email address. Your email is used for purposes of distributing our news alerts & newsletters. You can unsubscribe from our alerts using the “Unsubscribe” button at the bottom of our emails. We share the total number of email subscribers with our existing/potential sponsors. We do not share your email with our potential/existing sponsors.
                  p We utilize an email distribution tool for the purposes of maintaining our subscriber base and distributing our email alerts/newsletters.
                  p <b>Google Analytics</b>: We utilize the Google Analytics tool for purposes of understanding the demographics of our readership base in aggregate and also understanding navigation patterns on our website. Any information we provide to our existing or potential sponsors would be presented in aggregate: numbers of readers by cities, countries, navigation history, browser type, time, date, by type of device, by articles, etc…
                  p <b>Comments You Provide On Our Articles</b>: When you provide a comment to an article, we display the name you provide when you submit your comment. Your email address is retained in our tool, but we do not share it externally.
                  div(class="h4") Links Outside Our Website
                  p When our website has links to content outside our website, we have no control or access to these other sites. We urge our readers to read privacy policies for information on these linked sites. Invatechs Ltd. is not responsible for privacy practices or content of these links to other sites.
                  p If you have questions about this privacy statement, please contact us at <b><a href="mailto:info@invatechs.com">info@invatechs.com</a></b>
                  p ALL ARTICLES AND VIDEOS ON INVATECHS IS COPYRIGHTED. DO NOT REPRINT WITHOUT PERMISSION.
            include chunk/footer