extends layout/app

block page
   div(class="g-wrap")
      div(class="outer-bg inner-page")
         include chunk/header
         main(class="g-main")
            div(class="inner-banner banner")
               div(class="banner__wrapper container")
                  div(class="banner__title") Technologies
                  div(class="banner__subtitle") Invatechs is a team of skilled experts motivated by the advancement of software development technology, exceptional talent, and digital transformation methodologies. We possess extensive knowledge in the latest software development technologies and employ best practices to accomplish our clients' objectives.
                  div(class="banner__btns")
                     div(class="banner__btn main-arr-tr-btn")
                        a(href="") Case Studies
                     div(class="banner__btn main-arr-btn")
                        a(href="") Book Free Consult…
            div(class="tecnhonolies-page-list list")
               div(class="list__wrapper")
                  div(class="list__item item")
                     div(class="item__wrapper container")
                        div(class="item__col item__col-text")
                           div(class="item__title h2") Mobile
                           div(class="item__subtitile") We understand the importance of mobile development in today's digital landscape. Our skilled mobile app developers use the latest technologies to deliver high- performing, user-friendly mobile applications that address your industry-specific challenges. We specialize in developing custom mobile solutions that seamlessly integrate with your existing systems, providing a reliable and secure mobile experience for your customers.
                        div(class="item__col item__col-icons icons")
                           div(class="icons__wrapper")
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
                  div(class="list__item item")
                     div(class="item__wrapper container")
                        div(class="item__col item__col-text")
                           div(class="item__title h2") Front-end
                           div(class="item__subtitile") At the forefront of modern web development, front-end development is the art of building visually engaging and interactive user interfaces for web applications. At Invatechs, our team of skilled front-end developers specialize in using the latest technologies to deliver reliable, user-friendly solutions that can tackle even the most complex business challenges. We strive to create seamless, intuitive user experiences that keep your customers engaged and your business thriving.x
                        div(class="item__col item__col-icons icons")
                           div(class="icons__wrapper")
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
                  div(class="list__item item")
                     div(class="item__wrapper container")
                        div(class="item__col item__col-text")
                           div(class="item__title h2") Back-end
                           div(class="item__subtitile") At Invatechs, our back-end development services provide a stable and reliable foundation for your web applications. Our experienced team of back-end developers uses cutting-edge technologies to create powerful, scalable, and secure back-end systems that can efficiently handle your data storage, processing, and management needs. We understand the importance of performance, security, and maintainability in back-end development, and we work tirelessly to deliver solutions that meet all these criteria while addressing your industry-specific challenges.
                        div(class="item__col item__col-icons icons")
                           div(class="icons__wrapper")
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
                              div(class="icons__item")
                                 div(class="icons__item-image")
                                    img(src="img/angular-icon.svg", alt="Technology")
                                 div(class="icons__item-text") Xamarin
            include chunk/footer