.contact-us {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        background-image: url('../img/contact-us-bg.png');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: 0;
        left: 0;

        @include l-tablet {
            opacity: .3;
        }
    }

    .contact__wrapper {
        padding-top: 170px;
        padding-bottom: 100px;
        display: flex;
        font-size: 18px;
        line-height: 140%;
        justify-content: space-between;

        @include l-tablet {
            padding-top: 150px;
            padding-bottom: 80px;
            flex-direction: column;
        }

        @include sm-tablet {
            padding-top: 130px;
            padding-bottom: 60px;
        }
    }

    .contact__col-text {
        max-width: 300px;

        @include l-tablet {
            max-width: unset;
        }

        p {
            margin-bottom: 10px;
        }

        a {
            font-size: 25px;
            color: $accent-color;
            margin-bottom: 30px;
            display: block;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .contact__col-form {
        background: #fff;
        width: auto;
        height: auto;
        padding: 30px 40px;
        margin-right: 150px;

        @include desktop {
            margin-right: 0;
            margin-top: 40px;
        }
    }

    .contact__title {
        font-size: 5.2rem;
        font-weight: 700;
        line-height: 140%;
        font-family: $font-family-ubuntu;
        margin-bottom: 20px;
        margin-top: 50px;

        @include l-tablet {
            margin-top: 0;
        }

        @include sm-tablet {
            margin-bottom: 15px;
        }
    }

    .contact__subtitle {
        margin-bottom: 50px;

        @include l-tablet {
            max-width: 50%;
        }

        @include sm-tablet {
            max-width: unset;
            margin-bottom: 30px;
        }
    }

    .contact__form {
        width: 590px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include sm-tablet {
            width: 100%;
        }

        .form__item {
            margin-bottom: 40px;

            @include sm-tablet {
                margin-bottom: 25px;
            }

            input {
                width: 100%;
                background: none;
                border: none;
                outline: none;
                font-size: 20px;
                padding: 18px 0;
                border-bottom: 2px solid #000;
                transition: all .15s ease-in-out;

                &::placeholder {
                    font-size: 20px;
                    font-family: 'Source Sans 3', sans-serif;
                }

                &:focus:invalid {
                    border-bottom: 2px solid red;
                }
            }

            textarea {
                resize: none;
                max-width: 100%;
                width: 600px;
                outline: none;
                height: 90px;
                border: none;
                background: none;
                border-bottom: 2px solid #000;
                font-size: 20px;
                font-family: 'Source Sans 3', sans-serif;

                @include sm-tablet {
                    width: 460px;
                }

                &:focus:invalid {
                    border-bottom: 2px solid red;
                }
            }
        }

        .form__item-50 {
            width: calc(50% - 15px);

            @include sm-tablet {
                width: 100%;
            }
        }

        .form__row {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include sm-tablet {
                flex-direction: column-reverse;
                align-items: flex-start;
            }
        }

        .form__btn {
            min-width: 204px;
            padding: 5px 0;
            text-align: center;
            margin-right: 30px;
            border-radius: 4px;

            button {
                font-family: 'Ubuntu', sans-serif;
                background: none;
                border: none;
                font-size: 18px;
                white-space: nowrap;
            }
        }

        .form__text {
            font-size: 15px;
            line-height: 140%;

            @include sm-tablet {
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
    }
}