div(class="customers-reviews")
   div(class="customers-reviews__wrapper container")
      div(class="customers-reviews__col customers-reviews__col-clutch")
         div(class="customers-reviews__title h2") What our customers say about us
         div(class="customers-reviews__clutch")
            <iframe class="wuksD5" title="Embedded Content" name="htmlComp-iframe" width="100%" height="100%" allow="fullscreen" data-src="" src="https://www-invatechs-com.filesusr.com/html/d0d56f_4701a815faa3ac19e0648cfecd8096e0.html"></iframe>
      div(class="customers-reviews__col customers-reviews__col-slider")
         div(class="customers-reviews__slider slider")
            div(class="slider__item item")
               div(class="item__text") Working with Invatechs is always a pleasure. They are always up to date with the latest trends in coding and can be reached whenever their clients need them. It is difficult to find such reliable suppliers who are dedicated and passionate about getting the job done as efficiently as possible. Here at Mars Spiders we look forward to a lasting business relationship with Invatechs and recommend them to anyone looking to get their mobile application live.
               div(class="item__author")
                  div(class="item__author-image")
                     img(src="img/customers-reviews__image-1.png", alt="")
                  div(class="item__author-name")
                     div(class="name") David Olson
                     div(class="position") CEO, Mars Spiders, London, UK
            div(class="slider__item item")
               div(class="item__text") During my time working with Invatechs, I was impressed with both with leadership and technical skills, his ability to quickly come up with the technical solution to a problem and then bring the team together to deliver it. I could see that his coolness under pressure and experience was a strength to the team and he would always make himself available when asked - both for his teammates and clients. Extremely knowledgeable and open-minded, I consider Ivan to be a top-notch engineer and without a shadow of a doubt give him my highest recommendation.
               div(class="item__author")
                  div(class="item__author-image")
                     img(src="img/customers-reviews__image-2.png", alt="")
                  div(class="item__author-name")
                     div(class="name") Kiryl Trembovolski
                     div(class="position") Serial entrepreneur &amp; co-founder of Behavox, London, UK