div(class="texts-icons texts dark-bg")
   div(class="texts__wrapper container")
      div(class="title-wrap")
         div(class="texts__title title") Custom web development services
         div(class="texts__subtitle") Our effective solutions are aimed at creating user-friendly and functional platforms and websites. Professionals from Invatechs use the most cutting-edge techniques to deploy and improve web products. The main areas of website development services are listed below:
      div(class="texts__cards")
         div(class="texts__card card")
            div(class="card__image")
               img(src="img/web-app-icon.svg", alt="Web")
            div(class="card__title title-yellow") Web application development
            div(class="card__text") Invatechs specialists apply their experience and use effective patterns to create beautiful and intuitive applications for various industries.
         div(class="texts__card card")
            div(class="card__image")
               img(src="img/ui-icon.svg", alt="UI")
            div(class="card__title title-yellow") Web UI/UX design
            div(class="card__text") Our enthusiastic design team can create an eye-pleasing, intuitive interface that makes your app stand out from the competition.
         div(class="texts__card card")
            div(class="card__image")
               img(src="img/ecommerce-icon.svg", alt="Ecommerce")
            div(class="card__title title-yellow") eCommerce Website Development
            div(class="card__text") Invatechs' team of experts has already helped many entrepreneurs create selling apps that bring conversions and are competitive in their niche.
         div(class="texts__card card")
            div(class="card__image")
               img(src="img/api-icon.svg", alt="API")
            div(class="card__title title-yellow") API Development and Integration
            div(class="card__text") We have extensive experience in integrating all popular APIs into web applications to help expand your product and bring innovation.
