div(class="sm-text-image text")
    div(class="text__wrapper container")
        div(class="text__info") Invatechs services are advantageous for your business because we handle the entire development cycle. Starting with development, updating your existing product, and ongoing support. We create selling products that are as user-friendly as possible and bring customers a competitive edge in their niche business.
        div(class="text__image")
            img(src="img/sm-text-image.png", alt="Image")