div(class="billet-dark block-billet billet")
   div(class="billet__wrapper container")
      div(class="billet__title h2") From an idea to a competitive product
      div(class="billet__btn main-arr-btn") Let's go into details