div(class="stack-icons stack")
   div(class="stack__wrapper container")
      div(class="stack__title h2") Our stack
      div(class="stack__cards")
         div(class="stack__card card")
            div(class="card__image")
               img(src="img/front-icon.svg", alt="Front")
            div(class="card__title") Front-end
            div(class="card__items")
               div(class="card__item")
                  div(class="card__item-image")
                     img(src="img/angular-icon.svg", alt="Angular")
                  a(class="card__item-text") Java Script
               div(class="card__item")
                  div(class="card__item-image")
                     img(src="img/angular-icon.svg", alt="Angular")
                  a(class="card__item-text") Angular
         div(class="stack__card card")
            div(class="card__image")
               img(src="img/back-icon.svg", alt="Back")
            div(class="card__title") Back-end
            div(class="card__items")
               div(class="card__item")
                  div(class="card__item-image")
                     img(src="img/angular-icon.svg", alt="Angular")
                  a(class="card__item-text") Angular
         div(class="stack__card card")
            div(class="card__image")
               img(src="img/mobile-icon.svg", alt="Mobile")
            div(class="card__title") Mobile
            div(class="card__items")
               div(class="card__item")
                  div(class="card__item-image")
                     img(src="img/angular-icon.svg", alt="Angular")
                  a(class="card__item-text") Java Script
         div(class="stack__card card")
            div(class="card__image")
               img(src="img/platforms-icon.svg", alt="Platforms")
            div(class="card__title") Platforms
            div(class="card__items")
               div(class="card__item")
                  div(class="card__item-image")
                     img(src="img/angular-icon.svg", alt="Angular")
                  a(class="card__item-text") Java Script