div(class="text-image-dark text dark-bg")
   div(class="text__wrapper container")
      div(class="text__col")
         div(class="text__title title") Why choose Invatechs as a web development company
         div(class="text__info")
            p As a web development company, we have 10+ years of experience and completed many projects under our belt. That's why we don't work on portfolios in the first place, and we offer quality and expertise from our regular practice. Invatechs professionals are constantly improving and bringing innovative solutions to new projects that bring competitiveness and flexibility. When you partner with us, you get the following benefits right away:
            ul
               li Relieve your employees from routine tasks that our specialists can do;
               li The most innovative solutions that will make your application a leader in your niche;
               li Entire development cycle with optimization, testing, and further support;
               li You will get individual terms and a detailed roadmap for the implementation of the product.
      div(class="text__image")
         img(src="img/text-image-dark.png", alt="Service")