div(class="faq")
   div(class="container")
      div(class="faq__wrapper")
         div(class="faq__title h2") FAQ
         div(class="faq__items")
            div(class="faq__item item accordion-wrap")
               div(class="item__title accordion-head") Will your company be able to realize any product?
               div(class="item__info accordion accordion-open-one")
                  p Based on the requests for the project, we will do everything to achieve the final goals. You can find cases on our website development company, which describe in detail all the solutions we used to create a quality and competitive product.
               div(class="accordion-arrow")
                  img(src="img/accordion-arrow.svg", alt="Open accordion")
            div(class="faq__item item accordion-wrap")
               div(class="item__title accordion-head") What are the benefits of outsourced web development?
               div(class="item__info accordion accordion-open-one")
                  p First, it is a great time and budget savings for development. If your business is experiencing lengthy difficulties finding employees, there is a solution. Our quality web development services from Invatechs will be able to assemble a team of professionals and get started in no time.
               div(class="accordion-arrow")
                  img(src="img/accordion-arrow.svg", alt="Open accordion")
            div(class="faq__item item accordion-wrap")
               div(class="item__title accordion-head") Will my website be accessible on all platforms?
               div(class="item__info accordion accordion-open-one")
                  p Our specialists will optimize your product for different platforms, both for PC and mobile devices. The website will adapt the image and speed to different screen resolutions. Therefore, end users will be able to use your product easily.
               div(class="accordion-arrow")
                  img(src="img/accordion-arrow.svg", alt="Open accordion")
            div(class="faq__item item accordion-wrap")
               div(class="item__title accordion-head") Will my website meet all the requirements of current trends?
               div(class="item__info accordion accordion-open-one")
                  p Our experts are constantly evolving and keeping up with new trends. Even during the planning phase of product creation, we can bring our ideas for improvement. After deploying the site, we can guarantee conversions and end-user retention.
               div(class="accordion-arrow")
                  img(src="img/accordion-arrow.svg", alt="Open accordion")