div(class="technologies-list")
   div(class="technologies-list__wrapper container")
      div(class="technologies-list__col technologies-list__col-texts")
         div(class="technologies-list__title h2") Technologies we use
         div(class="technologies-list__slider slider")
            div(class="slider__item item")
               div(class="item__title") Front-end
               div(class="item__cards cards")
                  div(class="cards__item")
                     div(class="cards__item-img")
                        img(src="img/angular-icon.svg", alt="Technology")
                     div(class="cards__item-text") Angular
                  div(class="cards__item")
                     div(class="cards__item-img")
                        img(src="img/angular-icon.svg", alt="Technology")
                     div(class="cards__item-text") Angular
                  div(class="cards__item")
                     div(class="cards__item-img")
                        img(src="img/angular-icon.svg", alt="Technology")
                     div(class="cards__item-text") Angular
            div(class="slider__item item")
               div(class="item__title") Back-end
               div(class="item__cards cards")
                  div(class="cards__item")
                     div(class="cards__item-img")
                        img(src="img/ember-icon.svg", alt="Technology")
                     div(class="cards__item-text") Ember.js
      div(class="technologies-list__col technologies-list__col-cta")
         div(class="technologies-list__col-image")
            img(src="img/technologies__image.png", alt="Technologies")
         div(class="technologies-list__col-btn")
            span See all