div(class="industries-list")
   div(class="industries-list__items industries-list__items-slider slider")
      div(class="industries-list__item")
         img(src="img/industries__item-1.png", alt="Industries")
      div(class="industries-list__item")
         img(src="img/industries__item-2.png", alt="Industries")
      div(class="industries-list__item")
         img(src="img/industries__item-3.png", alt="Industries")
      div(class="industries-list__item")
         img(src="img/industries__item-4.png", alt="Industries")
      div(class="industries-list__item")
         img(src="img/industries__item-5.png", alt="Industries")
      div(class="industries-list__item")
         img(src="img/industries__item-6.png", alt="Industries")