div(class="texts-divider texts dark-bg")
   div(class="texts__wrapper container")
      div(class="title-wrap")
         div(class="texts__title title") Why choose Invatechs?
         div(class="texts__subtitle") Choosing Invatechs for your software development needs means partnering with a highly-skilled team of young and experienced professionals who are dedicated to delivering top-quality products and services.
      div(class="texts__items")
         div(class="texts__item item")
            div(class="item__title title-yellow") Expertise
            div(class="item__text") Our team has expertise in creating web and mobile applications at various levels of complexity for dozens of sectors and industries. We have extensive experience working with Internet of Things (IoT) companies, Fintech startups, and numerous more established businesses in the Finance, Healthcare, Transport, and other sectors. The expertise of our specialists allows us to create complex applications with increased flexibility, scalability, and reliability. 
         div(class="texts__item item")
            div(class="item__title title-yellow") Team
            div(class="item__text") Only some clients have a specific plan in mind. But many have a rough idea of the end goal. Our experienced team will turn those ideas into a reality. Our senior full-stack developers, skilled at using many technologies and frameworks, have over seven years of experience and work alongside many other mid-weight and junior specialists. Together, we will work to understand and create your vision.
         div(class="texts__item item")
            div(class="item__title title-yellow") Technologies
            div(class="item__text") Our highly-experienced developers work with the latest technologies and frameworks, including Node.js, React.js, Angular, Vue.js, Grunt.js, MySQL, MongoDB, and HTML/CSS. We also specialize in server-side technologies, such as ASP.NET. We use React Native, Kotlin, and Swift to create mobile applications. We only use the most well-known and reliable services for servers and databases, such as Amazon Web Services (AWS). 
