div(class="success-stories success dark-bg")
   div(class="success__wrapper container")
      div(class="success__title h2") Our success stories
      div(class="success__items")
         div(class="success__item item")
            div(class="item__row")
               div(class="item__col-info")
                  div(class="item__title title-yellow") Open Banking
                  div(class="item__text") InvaBank is a cutting-edge online banking application that is built using Invatechs’ white-label solution. This solution includes a variety of standard UI/UX elements and necessary functionality that allows the app to work seamlessly as an online banking service, supporting Open Banking API. 
               div(class="item__col-image")
                  img(src="img/success-stories-img-1.png", alt="Success story")
            div(class="item__tags")
               div(class="item__tag") FinTech
               div(class="item__tag") Open-Banking
               div(class="item__tag") API
         div(class="success__item item")
            div(class="item__row")
               div(class="item__col-info")
                  div(class="item__title title-yellow") Vance Pay
                  div(class="item__text") Our customer's mission is to improve people's financial well-being by giving them access to unpaid wages on demand. They want to empower employees to meet short-term liabilities by providing them with access to their uncollected income in exchange for a fair transaction fee and access to effective personalized financial management tools.
               div(class="item__col-image")
                  img(src="img/success-stories-img-2.png", alt="Success story")
            div(class="item__tags")
               div(class="item__tag") FinTech
               div(class="item__tag") Wealth-Management