div(class="workflow-icons workflow")
   div(class="workflow__wrapper container")
      div(class="workflow__col workflow__col-text")
         div(class="workflow__title h2") Workflow of web development services by Invatechs
         div(class="workflow__subtitle") We follow an individual approach to each customer presenting his ideas for implementing the product. Our web development consulting can always informatively answer all your questions and offer to sign an NDA agreement. The whole Invatechs development cycle is as follows:
      div(class="workflow__col workflow__col-icons")
         div(class="workflow__col-item item")
            div(class="icon-wrap")
               div(class="item__title") Project analysis
               img(src="img/analysis-icon.svg", alt="Analysis")
            div(class="item__text") During the first contact with our specialists, we collect all the general data about the product and its ultimate goals. Together, our developers, analysts, designers, and QA teams prepare a roadmap that will show the nuances of implementation in detail. After that, we provide a report to the client, where he can make his adjustments.
         div(class="workflow__col-item item")
            div(class="icon-wrap")
               div(class="item__title") Development
               img(src="img/development-icon.svg", alt="Development")
            div(class="item__text") Our specialists start the critical stage of development when the MVP is created, and the designers also create layouts for all the site pages. In this process, we are constantly in touch with the client and provide reports and the product, where he can make adjustments. After that, we finalize the product and move on to the next stage.
         div(class="workflow__col-item item")
            div(class="icon-wrap")
               div(class="item__title") Testing
               img(src="img/testing-icon.svg", alt="Testing")
            div(class="item__text") During the first contact with our specialists, we collect all the general data about the product and its ultimate goals. Together, our developers, analysts, designers, and QA teams prepare a roadmap that will show the nuances of implementation in detail. After that, we provide a report to the client, where he can make his adjustments.
         div(class="workflow__col-item item")
            div(class="icon-wrap")
               div(class="item__title") Release
               img(src="img/analysis-icon.svg", alt="Release")
            div(class="item__text") Once the product has passed all customer reviews and approvals, we begin deployment. As soon as possible, we will integrate the web platform so you can interact with it in real time.
         div(class="workflow__col-item item")
            div(class="icon-wrap")
               div(class="item__title") Product support
               img(src="img/support-icon.svg", alt="Product support")
            div(class="item__text") Depending on your contract with us, we can continue to support and update the product you have released. To follow the trends in the fast- evolving market and always attract more users and conversions.