div(class="inner-numbers numbers bg-text title-text")
    div(class="numbers__wrapper container wrapper")
        div(class="title-wrap")
           div(class="numbers__title title h2") Quick facts
           div(class="numbers__text text") Invatechs is a software development company with a full cycle of services. For over 10 years, we have been creating effective digital solutions with the use of innovative technologies
        div(class="numbers__items")
           div(class="numbers__item")
              div(class="numbers__item-num") 10+
              div(class="numbers__item-text") years of expertise
           div(class="numbers__item")
              div(class="numbers__item-num") 93%
              div(class="numbers__item-text") recurring customers
           div(class="numbers__item")
              div(class="numbers__item-num") 100+
              div(class="numbers__item-text") successful projects