div(class="text-tags text")
   div(class="text__wrapper container")
      div(class="text__title h2") Cost of web development services
      div(class="text__info") In web development, there is a unique cost formation based primarily on the client's requests. Our web development agency uses the most effective ways of achieving the final goal of the product. Also, we are not tied to local commitments and work with clients regardless of their geographic location. We take into consideration the following parameters when forming our prices:
      div(class="text__items")
         div(class="text__item") Project size and complexity
         div(class="text__item") Project size and complexity
         div(class="text__item") Experience of the employees