div(class="text-image text bg-text")
    div(class="text__wrapper container")
        div(class="text-wrap")
            div(class="text__title h2") Our team
            div(class="text__info")
                p Invatechs' team of specialists consists of young and experienced enthusiasts who constantly keep abreast of the latest trends and innovations in their field.
                p Many are highly skilled and experienced in a variety of projects, enabling them to solve complex problems and offer new ideas to improve projects.
                p Each team member has unique skills and expertise, enabling Invatechs to provide quality and innovative solutions to customers.
        div(class="text__image")
            img(src="img/texts-image.png", alt="Our team")