div(class="main-cases")
    div(class="cases__wrapper")
        a(class="cases__btn")
           span Go to all Case Studies
           img(src="img/technologies__arrow_right.svg", alt="Go to all Case Studies")
        div(class="cases__item item dark-bg bg-text")
           div(class="item__wrapper container")
              div(class="info-wrap")
                 div(class="item__info")
                    div(class="cases__title title") Case Studies
                    div(class="item__subtitle") Open Banking
                    div(class="item__text") InvaBank is a cutting-edge online banking application that is built using Invatechs’ white-label solution. This solution includes a variety of standard UI/UX elements and necessary functionality that allows the app to work seamlessly as an online banking service, supporting Open Banking API.
                    div(class="item__tags tags")
                       a(class="tags__item") FinTech
                       a(class="tags__item") Open-Banking
                       a(class="tags__item") API
                    div(class="item__btn main-arr-btn")
                       a(href="") Learn more
                 div(class="item__image")
                    div(class="image-wrap")
                       img(src="img/case-studies__image-1.png", alt="Case srtudies")
        div(class="cases__item dark-side-bg bg-text")
           div(class="item__wrapper container")
              div(class="info-wrap")
                 div(class="item__info")
                    div(class="item__subtitle") Vance Pay
                    div(class="item__text") Our customer's mission is to improve people's financial well-being by giving them access to unpaid wages on demand. They want to empower employees to meet short-term liabilities by providing them with access to their uncollected income in exchange for a fair transaction fee and access to effective personalized financial management tools.
                    div(class="item__tags tags")
                       a(class="tags__item") FinTech
                       a(class="tags__item") Wealth-Managment
                    div(class="item__btn main-arr-btn")
                       a(href="") Learn more
                 div(class="item__image")
                    div(class="image-wrap")
                       img(src="img/case-studies__image-2.png", alt="Case srtudies")
        div(class="cases__item dark-bg bg-text")
           div(class="item__wrapper container")
              div(class="info-wrap")
                 div(class="item__info")
                    div(class="item__subtitle") Cryptocurrency Saving Application
                    div(class="item__text")
                       p The app offers three ways to invest:
                       ul
                          li One-time investments: simply invest once any sums whenever you want
                          li Recurring deposit: set up the amount of money you want to invest into cryptocurrency every week or month and it will be withdrawn automatically
                          li Round ups: the app tracks user’s transactions and rounds up his daily purchases to the nearest $1, $2 or $5 and accumulates the difference to a certain amount of money and then automatically invest it into cryptocurrency
                    div(class="item__tags tags")
                       a(class="tags__item") FinTech
                       a(class="tags__item") Blockchain and Cryptocurrency
                    div(class="item__btn main-arr-btn")
                       a(href="") Learn more
                 div(class="item__image")
                    div(class="image-wrap")
                       img(src="img/case-studies__image-3.png", alt="Case srtudies")