div(class="main-contact contact bg-text")
   div(class="contact__video")
      video(autoplay="" loop="" muted="")
         source(src="https://video.wixstatic.com/video/d0d56f_d3cd3e856b7046bd90cafad377de3463/1080p/mp4/file.mp4" type="video/mp4") 
   div(class="contact__wrapper container")
      div(class="contact__title") Let's get in touch
      div(class="contact__subtitle") Need an experienced and skilled hand with custom IT projects? Fill out the form to get a consultation.
      div(class="contact__form form")
         div(class="form__item form__item-50")
            input(pattern="^*+$", type="text", name="", placeholder="Name*", required)
         div(class="form__item form__item-50")
            input(pattern="^*+$", type="text", name="", placeholder="Company*", required)
         div(class="form__item form__item-50")
            input(pattern="^*+$", type="email", name="", placeholder="Work email*", required)
         div(class="form__item form__item-50")
            input(pattern="^*+$", type="tel", name="", placeholder="Phone*", required)
         div(class="form__item form__item-100")
            textarea(name="^*+$", placeholder="What can we help you with?*", required)
         div(class="form__row")
            div(class="form__btn main-btn")
               button(type="submit") Get in touch
            div(class="form__text") By sending a message you agree with your information being stored by us in relation to dealing with your enquiry. Please have a look at our Privacy Policy.