div(class="why-choose choose bg-text")
    div(class="choose__wrapper container")
        div(class="choose__col choose__col-text")
            div(class="choose__title h2") Why choose Invatechs?
            div(class="choose__texts")
               p Invatechs provides top-notch custom application development services, utilizing their knowledge and experience to create one-of-a-kind solutions that meet each customer's specific goals and requirements.
               p We always find an individual approach to every idea of our customers, offering a wide range of IT services and knowledge that can help businesses succeed in today's market. Invatechs has qualified specialists from different areas who constantly improve their abilities to create trendsetting products. We always offer unique solutions that can be implemented in the most comfortable time frame.
               p Our core competency is financial technologies, and however, after ten years of prosperity, we have excelled in other business areas. Invatechs has also completed many projects in Logistics, eCommerce, Real Estate, and Restaurants. Our products are continuously optimized and secured against cyber threats. We always seek a long-term partnership to benefit your business, saving time and budget.
        div(class="choose__col choose__col-numbers numbers")
            div(class="numbers__item")
               div(class="numbers__item-num") 10+
               div(class="numbers__item-text") years of expertise
            div(class="numbers__item")
               div(class="numbers__item-num") 93%
               div(class="numbers__item-text") recurring customers
            div(class="numbers__item")
               div(class="numbers__item-num") 100+
               div(class="numbers__item-text") successful projects