div(class="main-services services dark-bg")
    div(class="services__wrapper container")
        div(class="title-wrap")
            div(class="services__title h2") Our Services
        div(class="services__cards cards")
            div(class="cards__item")
               div(class="card__title title-yellow") Web Development
               div(class="card__text") Our effective solutions are aimed at creating user-friendly and functional platforms and websites.
            div(class="cards__item")
               div(class="card__title title-yellow") Mobile Development
               div(class="card__text") As an app development company, we are ready to use modern technologies and patterns to create eye-catching and trending mobile applications.
            div(class="cards__item")
               div(class="card__title title-yellow") Bespoke Software
               div(class="card__text") Our team works closely with clients to understand their requirements and provide customized software solutions to meet their unique requirements and goals.
            div(class="cards__item")
               div(class="card__title title-yellow") Software Testing
               div(class="card__text") Our QA services will give an objective assessment of your product, allowing you to stay on trend in the fast-growing market in your niche.    