div(class="hero")
    div(class="hero__video")
        video(autoplay="" loop="" muted="")
            source(src="https://video.wixstatic.com/video/d0d56f_00c07f129fe64d818c96587e2b73e4f8/1080p/mp4/file.mp4" type="video/mp4") 
    div(class="hero__wrapper container")
        h1(class="hero__title h1") Global Software Development
        div(class="hero__subtitle") A leading provider of cutting-edge software, Invatechs assists customers in bringing ideas to life and elevating their products.
        div(class="hero__btn main-btn")
            a(href="") Let's work together
        div(class="hero__cta main-cta")
            a(href="") Check our cases