.privacy-policy {
    .policy__wrapper {
        padding-top: 100px;
        padding-bottom: 80px;
        max-width: 1000px;
        font-size: 18px;
        line-height: 140%;

        p {
            margin-bottom: 10px;
        }

        .h4 {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }
}