.privacy-policy {
    .policy__wrapper {
        padding-top: 100px;
        padding-bottom: 80px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        line-height: 140%;

        @include l-tablet {
            padding-top: 80px;
        }

        @include sm-tablet {
            padding-top: 60px;
            padding-bottom: 60px;
            font-size: 16px;
        }

        p {
            margin-bottom: 10px;
        }

        .h4 {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }
}