div(class="customers-list")
   div(class="customers-list__items customers-list__items-slider slider")
      div(class="slider__item")
         img(src="img/customers__slider-image-1.png", alt="Customer")
      div(class="slider__item")
         img(src="img/customers__slider-image-2.png", alt="Customer")
      div(class="slider__item")
         img(src="img/customers__slider-image-3.png", alt="Customer")
      div(class="slider__item")
         img(src="img/customers__slider-image-1.png", alt="Customer")
      div(class="slider__item")
         img(src="img/customers__slider-image-2.png", alt="Customer")
      div(class="slider__item")
         img(src="img/customers__slider-image-3.png", alt="Customer")