footer(class="footer")
    div(class="footer__wrapper container")
        div(class="footer__row")
            div(class="footer__col footer__col-main")
                a(class="footer__col-logo")
                    img(src="img/logo-light.png", alt="Invatechs")
                div(class="footer__col-cta cta")
                    div(class="cta__text") Ready to work with us?
                    div(class="cta__btn main-btn") Let's get in touch
            div(class="footer__col footer__col-contacts")
                div(class="footer__title") Contacts
                div(class="footer__items")
                    div(class="footer__item")
                        img(src="img/footer__phone.svg", alt="Phone")
                        span
                            a(href="tel:442045772137") +44 204 577 2137 (UK)
                    div(class="footer__item")
                        img(src="img/footer__mail.svg", alt="Email")
                        span
                            a(href="mailto:info@invatechs.com") info@invatechs.com
                    div(class="footer__item")
                        img(src="img/footer__address.svg", alt="Address")
                        span York Eco Business Centre (Office 12) Amy Johnson Way, Clifton Moor, York, England, YO30 4AG
            div(class="footer__col footer__col-development")
                div(class="footer__title") Development
                div(class="footer__items")
                    div(class="footer__item")
                        span
                            a(href="") Services
                    div(class="footer__item")
                        span
                            a(href="") Industries
                    div(class="footer__item")
                        span
                            a(href="") Technologies
            div(class="footer__col footer__col-about")
                div(class="footer__title") About us
                div(class="footer__items")
                    div(class="footer__item")
                        span
                            a(href="") Company
                    div(class="footer__item")
                        span
                            a(href="") InvaBlog
                    div(class="footer__item")
                        span
                            a(href="") How we work
                    div(class="footer__item")
                        span
                            a(href="") Careers
        div(class="footer__row")
            div(class="footer__policy")
                a(href="") Privacy Policy
            div(class="footer__socials")
                a(href="")
                    img(src="img/fb-icon.png", alt="Facebook")
                a(href="")
                    img(src="img/in-icon.png", alt="LinkedIn")
                a(href="")
                    img(src="img/tw-icon.png", alt="Twitter")
                a(href="")
                    img(src="img/inst-icon.png", alt="Instagram")
