header(class="header")
    div(class="header__desktop")
        div(class="header__row")
            div(class="header__col header__col-logo")
                img(src="img/logo.png", alt="")
            div(class="header__col")
                ul(class="header__nav")
                    li About us
                    li Services
                    li Technologies
                    li Industries
                    li Pricing
                    li Case Studies
                    li
                        a(href="", class="header__btn") Contact us