header(class="header")
    div(class="header__desktop")
        div(class="header__row")
            div(class="header__col header__col-logo")
                a(href="index.html")
                    img(src="img/logo.png", alt="")
            div(class="header__col")
                ul(class="header__nav")
                    li About us
                        div(class="dropdown")
                            div(class="dropdown__wrapper")
                                div(class="dropdown__item")
                                    a(href="about-us.html") Company
                                div(class="dropdown__item")
                                    a(href="how-we-work.html") How we work
                                div(class="dropdown__item")
                                    a(href="careers.html") Careers
                                div(class="dropdown__item")
                                    a(href="invablog.html") Invablog
                                div(class="dropdown__item")
                                    a(href="privacy-policy.html") Privacy Policy
                    li Services
                        div(class="dropdown")
                            div(class="dropdown__wrapper")
                                div(class="dropdown__item")
                                    a(href="services-web-development.html") Web Development Services
                                div(class="dropdown__item")
                                    a(href="") Mobile Development Services
                                div(class="dropdown__item")
                                    a(href="") Bespoke Software Development
                                div(class="dropdown__item")
                                    a(href="") Software Testing Services
                                div(class="dropdown__item")
                                    a(href="") Maintenance and Support
                                div(class="dropdown__item")
                                    a(href="") AI/ML
                    li
                        a(href="technologies.html") Technologies
                    li Industries
                        div(class="dropdown")
                            div(class="dropdown__wrapper")
                                div(class="dropdown__item")
                                    a(href="") Fintech
                                div(class="dropdown__item")
                                    a(href="") Transportation and Logistics
                                div(class="dropdown__item")
                                    a(href="") Internet of Things
                                div(class="dropdown__item")
                                    a(href="") Retail
                                div(class="dropdown__item")
                                    a(href="") Construction
                                div(class="dropdown__item")
                                    a(href="") Healthcare
                    li
                        a(href="pricing.html") Pricing
                    li
                        a(href="case-studies.html") Case Studies
                    li(class="more-nav-dropdown") More
                        div(class="dropdown")
                            div(class="dropdown__wrapper")
                                div(class="dropdown__item")
                                    a(href="") Pricing
                                div(class="dropdown__item")
                                    a(href="") Case Studies
                    li
                        a(href="contact-us.html", class="header__btn") Contact us
    div(class="header__mobile container")
        div(class="header__row")
            div(class="header__col header__col-logo")
                img(src="img/logo.png", alt="")
            div(class="header__col header__col-burger burger")
                div(class="burger__btn btn")
                    div(class="btn__part btn__part-1")
                    div(class="btn__part btn__part-2")
                    div(class="btn__part btn__part-3")
                div(class="burger__wrap")
                    div(class="burger-wrap wrap")
                        div(class="wrap__cell cell container")
                            ul(class="cell__items")
                                li(class="accordion-wrap")
                                    div(class="accordion-head") About us
                                    div(class="accordion")
                                        ul
                                            li
                                                a(href="") Company
                                            li
                                                a(href="") How we work
                                            li
                                                a(href="") Careers
                                            li
                                                a(href="") Invablog
                                            li
                                                a(href="") Privacy Policy
                                li(class="accordion-wrap")
                                    div(class="accordion-head") Services
                                    div(class="accordion")
                                        ul
                                            li
                                                a(href="") Web Development Services
                                            li
                                                a(href="") Mobile Development Services
                                            li
                                                a(href="") Bespoke Software Development
                                            li
                                                a(href="") Software Testing Services
                                            li
                                                a(href="") Maintenance and Support
                                            li
                                                a(href="") AI/ML
                                li
                                    a(href="") Technologies
                                li(class="accordion-wrap")
                                    div(class="accordion-head") Industries
                                    div(class="accordion")
                                        ul
                                            li
                                                a(href="") Fintech
                                            li
                                                a(href="") Transportation and Logistics
                                            li
                                                a(href="") Internet of Things
                                            li
                                                a(href="") Retail
                                            li
                                                a(href="") Construction
                                            li
                                                a(href="") Healthcare
                                li
                                    a(href="") Pricing
                                li
                                    a(href="") Case Studies