doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Invatechs
      link(rel="stylesheet", href="css/main.min.css")
      link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
      script(type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js")
      script(type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js")
      script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
   body
      block page
      script(src="js/main.js") 