.hr-contact {
    .contact__wrapper {
        display: flex;

        @include sm-tablet {
            flex-direction: column;
        }
    }

    .contact__col-btns {
        width: 60%;

        @include l-tablet {
            width: 50%;
            margin-right: 40px;
        }

        @include sm-tablet {
            width: 100%;
            margin-bottom: 40px;
        }
    }

    .contact__col-links {
        width: 40px;

        @include sm-tablet {
            width: 100%;
        }
    }

    .contact__title {
        margin-bottom: 25px;

        @include sm-tablet {
            margin-bottom: 15px;
        }
    }

    .contact__subtitle {
        font-size: 18px;
        line-height: 140%;
        max-width: 380px;
        margin-bottom: 30px;

        @include sm-tablet {
            max-width: unset;
        }

        a {
            color: $accent-color;
        }
    }

    .contact__col-hr {
        .hr__title {
            font-size: 3.2rem;
            line-height: 140%;
            font-family: $font-family-ubuntu;

            @include sm-tablet {
                font-size: 24px;
            }
        }

        .hr__position {
            color: #B5B5B5;
            font-size: 18px;
            line-height: 140%;
            margin-bottom: 20px;
        }

        .hr__link {
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            &:last-of-type {
                a {
                    text-decoration: underline;
                }
            }

            img {
                width: 34px;
                height: 34px;
                margin-right: 15px;
            }

            a {
                font-family: $font-family-ubuntu;
                font-size: 20px;
                line-height: 140%;
            }
        }
    }
}