.open-positions {
    .positions__wrapper {
        padding-top: 100px;
        padding-bottom: 80px;

        @include l-tablet {
            padding-top: 80px;
        }

        @include sm-tablet {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    .positions__title {
        padding-bottom: 80px;

        @include l-tablet {
            padding-bottom: 60px;
        }

        @include sm-tablet {
            padding-bottom: 40px;
        }
    }

    .positions__item {
        width: 100%;
        border-bottom: 3px solid #222324;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;

        @include sm-tablet {
            flex-direction: column;
        }

        &:first-of-type {
            margin-bottom: 40px !important;
            padding-bottom: 40px !important;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        .item__col:first-of-type {
            margin-right: 40px;
        }

        .item__col-title {
            font-family: $font-family-ubuntu;
            font-size: 24px;
            line-height: 110%;
            margin-bottom: 20px;

            @include sm-tablet {
                font-size: 20px;
            }
        }

        .item__col-text {
            max-width: 640px;
            font-size: 18px;
            line-height: 140%;
        }

        .item__col-btn {
            background: #222222;
            color: #fff;
            font-size: 16px;
            letter-spacing: 1.6px;
            padding: 18px 66px;
            display: block;
            white-space: nowrap;
            width: fit-content;

            @include sm-tablet {
                margin-top: 25px;
            }
        }
    }
}